@import"https://fonts.googleapis.com/css2?family=Recursive:CASL,MONO@0..1,1&family=Atkinson+Hyperlegible&family=Alegreya&family=Alegreya+Sans&family=Comic+Neue&family=Comfortaa&family=Courier+Prime&family=EB+Garamond&family=Fira+Mono&family=Gentium+Book+Plus&family=Geologica&family=JetBrains+Mono&family=Libre+Baskerville&family=Literata:opsz@7..72&family=Noto+Sans&family=Noto+Sans+Mono&family=Noto+Serif&family=Open+Sans:wght@300..800&family=Piazzolla:opsz@8..30&family=Play&family=Roboto+Mono&family=Roboto+Slab&family=Source+Code+Pro&family=Source+Serif+4:opsz@8..60&family=Ubuntu&family=Ubuntu+Mono&family=Victor+Mono&family=Vollkorn&family=Ysabeau&display=swap";

.screen-keyboard {
  --key-thickness: 2px;
  --font: "Open Sans";
  --font-variation: normal;
  --font-scale: 1;
  background: var(--color-bg-hc);
  padding: var(--space-2xs);
  padding-top: var(--space-xs);
  padding-bottom: 0;
  width: 100%;
  text-align: center;
  border-top: solid 1px var(--color-bg-bar);
}

.screen-keyboard .row button {
  background: transparent;
  padding: var(--space-xs) var(--space-2xs);
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  font-family: var(--font);
  vertical-align: center;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.screen-keyboard button>div {
  --padding-h: .8rem;
  --bg: var(--color-input);
  --sh: var(--color-input-shadow);
  --font-size: calc(var(--font-l) * var(--font-scale));
  width: auto;
  padding: var(--padding-h) 0;
  padding-top: calc(var(--padding-h) - var(--key-thickness) / 2);
  background-color: var(--bg);
  font-size: var(--font-size);
  font-variation-settings: var(--font-variation);
  height: calc(var(--font-l) + var(--padding-h) * 2);
  line-height: var(--font-size);
  vertical-align: middle;
  box-shadow: inset 0 calc(-1 * var(--key-thickness)) 0 var(--sh), 0 var(--key-thickness) var(--key-thickness) var(--sh);
  opacity: 1;
  border-radius: var(--space-xs);
  transition-duration: .25s;
  transition-property: background-color, transform;
  position: relative;
  cursor: pointer;
}

.screen-keyboard button>div>i {
  font-size: var(--font-l);
}

.screen-keyboard button.accent>div {
  --bg: var(--color-input-lc);
  --sh: var(--color-input-lc-shadow);
  color: var(--color-fg);
}

.screen-keyboard button.next>div {
  --bg: var(--color-input-target);
  --sh: var(--color-input-target-shadow);
}

.screen-keyboard button i {
  color: var(--color-fg);
  position: relative;
  top: 1px;
}

.screen-keyboard .row {
  display: grid;
  margin: auto;
}

.screen-keyboard .row:last-child {
  margin-bottom: var(--space-2xs);
}

.screen-keyboard .row:nth-child(1) {
  grid-template-columns: repeat(20, 1fr);
}

.screen-keyboard .row:nth-child(2) {
  grid-template-columns: repeat(20, 1fr);
}

.screen-keyboard .row:nth-child(3) {
  width: 90%;
  grid-template-columns: repeat(18, 1fr);
}

.screen-keyboard.dvorak .row:nth-child(3),
.screen-keyboard.azerty .row:nth-child(3) {
  width: 100%;
  grid-template-columns: repeat(20, 1fr);
}

.screen-keyboard .row:nth-child(4) {
  grid-template-columns: repeat(20, 1fr);
}

.screen-keyboard.dvorak .row:nth-child(4) {
  width: 90%;
  grid-template-columns: repeat(18, 1fr);
}

.screen-keyboard .row:nth-child(5) {
  grid-template-columns: repeat(20, 1fr);
}

@media screen and (orientation: landscape) {
  .screen-keyboard>div {
    max-width: 600px;
    margin: auto;
  }

  .screen-keyboard button>div {
    --padding-h: .5rem;
  }
}

.screen-keyboard-desktop {
  --max-column-width: 12px;
  --key-thickness: 2px;
  --font: "Open Sans";
  --font-variation: normal;
  --font-scale: 1;
  background: var(--color-bg);
  padding: var(--space-m);
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 100;
  height: fit-content;
}

.screen-keyboard-desktop .keys {
  --columns: 60;
  max-width: calc(var(--max-column-width) * var(--columns));
  background: var(--color-bg-hc);
  padding: var(--space-2xs);
  display: grid;
  margin: auto;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(10, 1fr);
  border-radius: var(--space-s);
  border: solid 1px var(--color-shadow);
  cursor: pointer;
}

.screen-keyboard-desktop .keys button {
  background: transparent;
  padding: var(--space-2xs) var(--space-2xs);
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  font-family: var(--font);
  font-variation-settings: var(--font-variation);
  vertical-align: middle;
  overflow: hidden;
  grid-column-end: span 4;
  grid-row-end: span 2;
  grid-gap: 0;
  margin-bottom: 0;
  opacity: 1
}

.screen-keyboard-desktop .keys button:hover {
  cursor: default
}

.screen-keyboard-desktop .keys button:disabled,
.screen-keyboard-desktop .keys button:disabled:hover {
  opacity: 1;
  cursor: default
}

.screen-keyboard-desktop .keys button.special {
  font-family: var(--font);
  font-size: var(--font-xs);
}

.screen-keyboard-desktop .keys .backspace {
  grid-column-end: span 8;
}

.screen-keyboard-desktop .keys .tab {
  grid-column-end: span 6;
}

.screen-keyboard-desktop .keys .caps {
  grid-column-end: span 7;
}

.screen-keyboard-desktop .keys .caps div {
  position: relative;
}

.screen-keyboard-desktop .keys .caps div:after {
  content: "";
  display: block;
  width: 15%;
  height: var(--space-xs);
  background: var(--color-input-shadow);
  box-shadow: inset 0 -1px 2px var(--color-fg-lc);
  position: absolute;
  bottom: calc(var(--key-thickness) + var(--space-xs));
  left: var(--space-s);
  border-radius: var(--space-2xs);
}

.screen-keyboard-desktop .keys .fn {
  grid-column-end: span 4
}

.screen-keyboard-desktop .keys .enter {
  grid-column-end: span 9
}

.screen-keyboard-desktop .keys .space {
  grid-column-end: span 20
}

.screen-keyboard-desktop .keys .ctrl-left {
  grid-column-end: span 6
}

.screen-keyboard-desktop .keys .meta {
  grid-column-end: span 5
}

.screen-keyboard-desktop .keys .alt {
  grid-column-end: span 6
}

.screen-keyboard-desktop .keys .alt-gr {
  grid-column-end: span 6;
  font-size: var(--font-xs)
}

.screen-keyboard-desktop .keys .ctrl-right {
  grid-column-end: span 5
}

.screen-keyboard-desktop .keys .backslash {
  grid-column-end: span 6
}

.screen-keyboard-desktop .keys .shift-right {
  grid-column-end: span 11
}

.screen-keyboard-desktop .keys .shift-left {
  grid-column-end: span 9
}

.screen-keyboard-desktop .keys .arrow-up {
  grid-column-start: 53;
  grid-column-end: 57;
  grid-row-start: 9;
  grid-row-end: 10
}

.screen-keyboard-desktop .keys .arrow-down {
  grid-column-start: 53;
  grid-column-end: 57;
  grid-row-start: 10;
  grid-row-end: 11
}

.screen-keyboard-desktop .keys .arrow-down,
.screen-keyboard-desktop .keys .arrow-up {
  padding-top: 0;
  padding-bottom: 0
}

.screen-keyboard-desktop .keys .arrow-up div,
.screen-keyboard-desktop .keys .arrow-down div {
  height: calc(1.5rem - var(--space-xs));
  padding: 0;
  position: relative;
}

.screen-keyboard-desktop .keys .arrow-up div i,
.screen-keyboard-desktop .keys .arrow-down div i {
  position: relative;
  top: calc(-1 * var(--key-thickness) / 2)
}

.screen-keyboard-desktop .keys .info div {
  background-color: var(--color-bg-hc);
  border: solid 3px var(--color-bg-lc)
}

.screen-keyboard-desktop .keys:last-child {
  margin-bottom: var(--space-2xs)
}

.screen-keyboard-desktop button>div {
  --padding-h: .75rem;
  --bg: var(--color-input);
  --sh: var(--color-input-shadow);
  --font-size: calc(var(--font-m) * 1.125 * var(--font-scale));
  width: auto;
  padding: var(--padding-h) 0;
  padding-top: calc(var(--padding-h) - var(--key-thickness) / 2);
  background-color: var(--bg);
  font-size: var(--font-size);
  height: calc(var(--font-l) + var(--padding-h) * 2);
  line-height: var(--font-size);
  vertical-align: middle;
  box-shadow: inset 0 calc(-1 * var(--key-thickness)) 0 var(--sh), 0 var(--key-thickness) var(--key-thickness) var(--sh);
  opacity: 1;
  border-radius: var(--space-xs);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.screen-keyboard-desktop button.bump>div:after {
  --bump-size: 2px;
  content: "";
  display: block;
  background-color: var(--sh);
  width: 30%;
  height: var(--bump-size);
  position: absolute;
  bottom: calc(var(--key-thickness) + var(--space-2xs));
  margin: 0 35%;
  border-radius: var(--space-2xs)
}

.screen-keyboard-desktop button.special>div {
  --font-size: calc(var(--font-xs) * var(--font-scale));
  font-weight: 600;
  text-align: left;
  padding-left: var(--space-s);
  padding-top: var(--space-s)
}

.screen-keyboard-desktop button>div>i {
  font-size: var(--font-l)
}

.screen-keyboard-desktop button.accent>div {
  --bg: var(--color-input-lc);
  --sh: var(--color-input-lc-shadow);
  color: var(--color-fg)
}

.screen-keyboard-desktop button i {
  color: var(--color-fg);
  position: relative;
  top: 1px
}

.screen-keyboard-desktop button>div>.fa-arrow-down,
.screen-keyboard-desktop button>div>.fa-arrow-up {
  font-size: 13px;
  margin: auto;
}

.two-symbols {
  margin-top: -8px;
  margin-right: auto;
  margin-left: auto;
}

.fa-arrow-turn-down {
  transform: rotate(90deg);
}

.screen-keyboard-desktop .keys .active div {
  background-color: rgb(0, 0, 0);
}

.screen-keyboard button .active {
  background-color: rgb(0, 0, 0);

}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .screen-keyboard-desktop {
    display: none;
  }

  .screen-keyboard {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .screen-keyboard-desktop {
    display: block;
  }

  .screen-keyboard {
    display: none;
  }
}